@import 'includes/brand.less';
@import 'includes/typography.less';
@import 'includes/mixins.less';

* {
  .box-sizing;
}

body {
  width:100%;
  font-family: @bodyfontFamily;
  font-size: @basefontsize;
  font-weight: @basefontweight;
  color: @basefontcolour;
  -webkit-font-smoothing: antialiased;
}
.container{
	margin: 0 auto;
	width: 80%;
	height: auto;
	overflow-x:hidden;
}

header {
	width: 100%;
	height: auto;
	padding-top: 10px;
	section{
		float: none;
		border-top: 2px black solid;
		border-bottom: 2px black solid;
		height:79px;
		background-color: #b70052;
		a{
			float: left;
			margin: 15px 10px;
			display: inline-block;
			text-indent: -9999px;
		}
		#donate{
			width: 150px;
			height:45px;
			background-image: url(../images/donate.png);
			background-size: 100% 100%;
			&:hover{
				background-image: url("../images/donate(mouseOver).png");
			}
		}
		#volunteer{
			width:150px;
			height:45px;
			background-image: url(../images/volunteer.png);
			background-size: 100% 100%;
			&:hover{
				background-image: url("../images/volunteer(mouseOver).png");	
			}
		}

		#signupContainer{
			float: right;
			height:75px;
			width:427px;
			p{
				position: relative;
				top:-10px;
				display: inline;
				margin: 10px 5px;
			}
			textarea{
				float: none;
				margin-top: 20px;
				height:30px;
				width:165px;
				font-size: 24px;
				resize:none;
				border:2px black solid;
				display: inline-block;
			}
			#signup{
				float: right;
				width:81px;
				height:33px;
				margin-top:-34px;
				display: inline-block;
				background-image: url(../images/signUp.png);
				&:hover{
					background-image: url("../images/signUp(mouseOver).png");
				}
			}
		}
	}
}

#wrapper {
	padding: 20px 0px;
	width: 100%;
	color: black;
	a{
		color: #b70052;
		&:hover{
			text-decoration:none;
			font-weight: bold;
		}
	}
}

article{
	.post{
		margin-bottom: 50px;
		padding-bottom: 25px;
		border-bottom: 1px #dd solid;
	}
}

footer{	
	width: 100%;
	height:150px;
	padding:5px;
	overflow: hidden;
	border-top: 2px black solid;
	.logo{
		width:284px;
		border-right: 1px black solid;	
	}
	section{
		float: left;
		height:140px;
		width:67%;
		padding-left: 10px;
		#footerLinks{
			font-size: 22px;
			li{
				ul{
					li{
						display: inline-block;
						a{
							display: block;
							margin: 0 10px 10px 0;
							&:hover{
								opacity:0.6;
							}
						}
					}
				}
				p{
					float: none;
					font-size: 18px;
					margin-top: 47px;
					color: black;
					a{
						display: block;
					}
				}
			}
		}
	}

}

/* Header */

.logo{ 
	background: url(../images/wwcc-logo.png) no-repeat;
  	display:inline-block;
  	height:122px;
  	width:239px;
  	float: left;
}
#headerContainer{
	display:inline-block;
  	width:auto;
  	margin-left: 20px;
  	float: left;
  	height:auto;
	#socialMedia {
  		display:block;
  		width:100%;
  		margin: -15px 0 -6px 0;
 		margin-right: 25px;
  		li{
  			display: inline-block;
  			padding:5px;
  			#twitter, #facebook, #youtube, #linkedin{
  				display: block;
  				height:60px;
  				width:60px;
  				text-indent: -9999px;
  			}
  			#twitter{
  				background-image: url(../images/twitter.png);
  				&:hover{
  					opacity:0.6;
  				}
  			}
  			#facebook{
  				background-image: url(../images/facebook.png);
  				&:hover{
  					opacity:0.6;
  				}
  			}
  			#youtube{
  				background-image: url(../images/youtube.png);
  				&:hover{
  					opacity:0.6;
  				}
  			}
  			#linkedin{
  				background-image: url(../images/linkedin.png);
  				&:hover{
  					opacity:0.6;
  				}
  			}
		}
		li:first-child{
			display: block;
			height:20px;
			margin: 5px 0px 5px 0;
			p{
  				position: relative;
  				top:0px;
  				font-size: 1.2em;
  				color: black;
  			}
		}
	}
	#mobileNav{
		display: none;	
	}
	nav {
  		#navLinks {
  			display:block;
  			width: 100%;
  			margin-right: 25px;
  			z-index: 10;
  			li{
  				display: inline-block;
  				a {
  					display: block;
  					color: black;
  					text-decoration: none;
  					font-weight: 700;
  					font-size: 1.3em;
  					padding:25px 5px 5px 5px;
				}
				&:hover {
  					opacity: 0.6;
				}
			}
		}
	}
}

/* Index */

#wrapper{
	#gallery{
		#mainImage{
			width: 100%;
			height:320px;
			background: url(../images/picture1.jpg) no-repeat;
			background-size: 100% 100%;
			p{
				position: relative;
				top: 261px;
				left:10px;
				color: #b70052;
				font-weight: bold;
				font-size: 1.3em;
				display: block;
				width: 200px;
				padding: 10px;
				background-color: rgba(255,255,255, 0.7 );
			}
		}
		#galleryImages{
			width:100%;
			height: 103px;
			margin: 20px 0;
			overflow-y: hidden;
			overflow-x: scroll;
			#imageContainer{
				width: 1010px;
				a{	
					display: inline-block;
					width:170px;
					height:100px;
					margin-right: 30px;
					text-indent: -99999px;
					&:last-child{
						margin-right: 0px;
					}
				}
				.overlay{
					width:100%;
					height:100%;
				}


				.image1{
					background: url(../images/picture1_thumb_norm.jpg);
					&:hover{
						background: url(../images/picture1_thumb.jpg);
					}
					.current{
						background: url(../images/picture1_thumb.jpg);
					&:hover{
							cursor:default;
						}	
					}
				}
				
				.image2{
					background: url(../images/picture2_thumb_norm.jpg);
					&:hover{
						background: url(../images/picture2_thumb.jpg);
					}
					.current{
						background: url(../images/picture2_thumb.jpg);
					&:hover{
							cursor:default;
						}	
					}
				}
				.image3{
					background: url(../images/picture3_thumb_norm.jpg);
					&:hover{
						background: url(../images/picture3_thumb.jpg);
					}
					.current{
						background: url(../images/picture3_thumb.jpg);
					&:hover{
							cursor:default;
						}	
					}
				}
				.image4{
					background: url(../images/picture4_thumb_norm.jpg);
					&:hover{
						background: url(../images/picture4_thumb.jpg);
					}
					.current{
						background: url(../images/picture4_thumb.jpg);
					&:hover{
							cursor:default;
						}	
					}
				}
				.image5{
					background: url(../images/picture5_thumb_norm.jpg);
					&:hover{
						background: url(../images/picture5_thumb.jpg);
					}
					.current{
						background: url(../images/picture5_thumb.jpg);
					&:hover{
							cursor:default;
						}	
					}
				}


			}
		}

	}
	#info{
		float: left;
		width:75%;
		height: 100%;
		display: inline-block;
		padding-right: 20px;
		h2{
			margin-bottom: 10px;
		}

		h3{
			margin: 0 0 10px 20px;
		}
		p{
			margin-left: 20px;
		}
	}
	#video{
		float: left;
		width:25%;
		height: auto;
		overflow: hidden;
		display: inline-block;
		h2{
			margin-bottom: 20px;
		}
		a{
			display: block;
			width:100%;
			max-width: 270px;
			height:166px;
			background: url(../images/video_norm.jpg);
			background-size: 100% 100%;
			&:hover{
				background: url(../images/video.jpg);
				background-size: 100% 100%;
			}
		}
	}
}

/* Volunteer */

#wrapper{
	.volunteer{
		#volunteerImage{
			display: block;
			width: 100%;
			height:318px;
			background: url(../images/volunteerBigImage.jpg) no-repeat;
			background-size: 100% 100%;
		}
		h2{
			margin-top: 60px;
			margin-bottom: 10px;
		}
		P{

		}
		a{
			margin-top: 10px;
			text-decoration: none;
		}
	}
}

/* careers */
.hidden{
	display: none;
}
#wrapper{
	.careers{
		float: left;
		width:65%;
		h2{
			margin-bottom: 20px;
		}
		P{
			margin-bottom: 60px;
		}
		#volunteerPositions{
			width:100%;
			max-height: 475px;
			background-color: #b70052;
			overflow: hidden;
			cursor: pointer;
			#headerBarV{
				position: relative;
				height: 60px;
				border:2px black solid;
				#indicatorV{
					display: inline-block;
					width: 50px;
					height: 50px;
					background-image: url(../images/arrow.png);
					background-repeat: no-repeat;
					margin: 15px 10px;
				}
				p{
					color: white;
					font-size: 1.5em;
					position: absolute;
					left:70px;
					top:10px;
					display: inline-block;
				}
			}
			
			#ledgendV{
				height: 35px;
				p{
					color: white;
					font-size: 1em;
					display: inline-block;
					width:50%;
					padding:5px 0 5px 14px;
					span{
						padding-left: 90px;
					}
				}

			}
			#jobListingsV{
				border:3px black solid;
				height: 300px;
				overflow-y: scroll;
				overflow-x: hidden;
				li{
					color: white;
					font-size: 1.2em;
					display: block;
					height: 50px;
					margin: 0;
					padding: 15px 0;
					p{

						display: inline-block;
						width:50%;
						padding-left:10px;
						span{
							padding-left: 80px;
						}
					}
					button{
						float: right;
						display: inline-block;
						margin: 0 10px;
						width: 25%;
						cursor: pointer;
					}
					&:nth-child(odd) {
						background: #d3d1d1;
						color:#b70052;
						font-size: 1.2em;
					}
					&:nth-child(even) {
						border:3px gray solid;
					}
				}
			}
		}
		#jobPositions{
			width:100%;
			max-height: 475px;
			background-color: #b70052;
			margin-bottom: 20px;
			overflow: hidden;
			cursor: pointer;
			#headerBarJ{
				position: relative;
				height: 60px;
				border:2px black solid;
				#indicatorJ{
					display: inline-block;
					width: 50px;
					height: 50px;
					background-image: url(../images/arrow_down.png);
					background-repeat: no-repeat;
					margin: 5px 20px;
				}
				p{
					color: white;
					font-size: 1.5em;
					position: absolute;
					left:70px;
					top:10px;
					display: inline-block;
				}
			}
			
			#ledgendJ{
				height: 35px;
				p{
					color: white;
					font-size: 1em;
					display: inline-block;
					width:50%;
					padding:5px 0 5px 14px;
					span{
						padding-left: 90px;
					}
				}

			}
			#jobListingsJ{
				border:3px black solid;
				height: 300px;
				overflow-y: scroll;
				overflow-x: hidden;
				li{
					color: white;
					font-size: 1.2em;
					display: block;
					height: 50px;
					margin: 0;
					padding: 15px 0;
					p{
						display: inline-block;
						width:50%;
						padding-left:10px;
						span{
							padding-left: 80px;
						}
					}
					button{
						float: right;
						display: inline-block;
						margin: 0 10px;
						width: 25%;
						cursor: pointer;
					}
					&:nth-child(odd) {
						background: #d3d1d1;
						color:#b70052;
						font-size: 1.2em;
						p{
							padding-left: 12px;
						}
					}
					&:nth-child(even) {
						border:3px gray solid;
					}
				}
			}
		}
		#application{
			display: none;
			position: relative;
			max-width:509px;
			height:318px;
			border:3px black solid;
			padding:15px;
			margin: 0 auto;
			h2{
				margin-bottom: 20px;
			}
			p{
				width: 100%;
				margin: 0 10px 0 0;
				display: inline-block;
				textarea{
					position: absolute;
					left:150px;
					width:300px;
					height:20px;
					margin-bottom: -8px;
					display: inline-block;
					resize:none;
					font-size: 1.3em;
				}
			}
			
			#r{
				height: 50px;
			}
			.appContainer{
				width:100%;
				height:50px;
				padding-left: 40px;
			}
			
			button{
				position: absolute;
				right:55px;
				margin-top: 20px;
				cursor: pointer;
			}
			
		}
	}
	#sideImage{
		float: left;
		width:35%;
		display: inline-block;
		height:499px;
		background: url(../images/womenInSuit.jpg);
		background-repeat: no-repeat;
	}
}

/* Thank you */
#wrapper{
	.mainContent{
		h1, h2{
			margin-bottom: 10px;
		} 

		h3{
			display: inline-block;
			margin-bottom: 20px;
		}
		p{
			display: inline-block;
			margin-bottom: 10px;
		}
		h2, h3, p{
			margin-left: 20px;
		}
	}
}

/* Media Queries */



@media only screen and (min-width : 768px) and (max-width : 1025px) {
	
	.container{
		width:100%;
	}

	nav {
  		#navLinks {
  			display:block;
  			width: 484px;
		}
	}

	footer{	
		section{
			height:140px;
			width:450px;
		}
	}
}

@media only screen and (max-width : 480px){
	.container{
		width:100%;
	}

	.logo{ 
		float: none;
		display: block;
		margin: 0 auto;
	}
	#headerContainer{
		#socialMedia {
  			display:none;
		}
		#mobileNav{
			position: absolute;
			top:254px;
			left: 0px;
			display: block;
  			width:100%;
			height:46px;
			z-index: 10;
			cursor: pointer;
			img{
				position: absolute;
				top:15px;
				left:20px;
			}
			p{
				position: absolute;
				top:10px;
				left:40px;
			}
		}
		nav {
			position: absolute;
			top:40px;
			left: 0px;
  			display: none;
  			height: auto;
  			width:100%;
  			overflow: visible;
  			#navLinks {
  				background-color: rgba(0,0,0,0.9);
  				position: relative;
  				top:260px;
  				display:block;
  				width: 100%;
  				margin-right: 25px;
  				padding-bottom: 20px;
  				li{
  					display:block;
  					a{
  						padding-left:20px;
  						color: #b70052;
  					}
				}
			}
		}
	}

	header {  		
		section{
			position: relative;
			top:120px;
			height:50px;
			margin-bottom:110px;
			overflow: visible;
			#donate{
				position: absolute;
				top:-135px;
				left:5px;
				width: 140px;
			}
			#volunteer{
				position: absolute;
				top:-135px;
				right:5px;
				width:140px;
			}

			#signupContainer{
				position: absolute;
				top:-65px;
				left: 0px;
				width: 100%;
				border-top:1px black solid;
				p{
					display: none;
				}
				textarea{
					position: absolute;
					top:-5px;
					left:15px;
					float: left;
				}
				#signup{
					position: absolute;
					top:45px;
					right:10px;
				}
			}
		}
	}

	/** index.php **/
	#wrapper{
		#gallery{
			#mainImage{
				height:105px;
				p{	
					left: 0px;
					top:71px;
					padding: 2.5px;
				}
			}
		}

		#info{
			float: none;
			width:100%;
			display: block;
			padding: 0 20px;
		}
		#video{
			float: none;
			width: 270px;
			display: block;
			margin: 0 auto;
		}
	}

	#wrapper{
		.volunteer{
			#volunteerImage{
				height:105px;
			}
			h2{
				padding: 0 20px;
			}
			p{
				padding: 0 20px;
			}
			a{
				padding: 0 20px;
			}
		}
	}

	#wrapper{
		.careers{
			padding: 0 20px;
			width:100%;
			display: block;
			#volunteerPositions{
				#ledgendV{
					height: 35px;
					p{
						color: white;
						font-size: 1em;
						display: inline-block;
						width:50%;
						padding:5px 0 5px 14px;
						span{
							padding-left: 40px;
						}
					}
				}
				#jobListingsV{
					li{
						color: white;
						font-size: 1.2em;
						display: block;
						height: 50px;
						margin: 0;
						padding: 15px 0;
						p{
							display: inline-block;
							width:50%;
							padding-left:10px;
							span{
								padding-left: 30px;
							}
						}
					}
				}
			}
			#jobPositions{
				#ledgendJ{
					height: 35px;
					p{
						color: white;
						font-size: 1em;
						display: inline-block;
						width:50%;
						padding:5px 0 5px 14px;
						span{
							padding-left: 40px;
						}
					}
				}
				#jobListingsJ{
					li{
						color: white;
						font-size: 1.2em;
						display: block;
						height: 50px;
						margin: 0;
						padding: 15px 0;
						p{
							display: inline-block;
							width:50%;
							padding-left:10px;
							span{
								padding-left: 30px;
							}
						}
					}
				}
			}
			#application{
				width: 100%;
				height:350px;
				margin-bottom: 20px;
				h2{
					margin: 10px 0;
				}
				p{
					position: relative;
					width: 100%;
					display: inline-block;
					textarea{
						position: absolute;
						left:100px;
						width:145px;
					}
				}
				.appContainer{
					width:100%;
					padding: 0;
				}
				button{
					right:15px;
				}
			}
		}
		#sideImage{
			display: none;
		}
	}
	
	#wrapper{
	.mainContent{
		padding: 0 20px;
		h1, h2{
			margin-bottom: 10px;
		} 

		h3{
			display: inline-block;
			margin-bottom: 20px;
		}
		p{
			display: inline-block;
			margin-bottom: 10px;
		}
		h2, h3, p{
			margin-left: 20px;
		}
	}
}


	footer{	
		border-top: none;
		.logo{
			border-right: none;	
			margin: 0 auto;
		}
		section{
			float: none;
			width:100%;
			#footerLinks{
				width: 100%;
				.links{
					display: none;
				}
				li{
					p{
						text-align: center;
						margin-top:0;
						font-size: .5em;
					}
				}
			}
		}
	}
}	