@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
a:link {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
  text-decoration: none;
}
p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
h1,
h2,
h4 {
  font-family: "Montserrat", "Times New Roman", Georgia, Serif;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
h1 {
  font-size: 2.3em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 1.3em;
  line-height: 1em;
}
h4 {
  font-size: .5em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Times New Roman", Georgia, Serif;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}
.container {
  margin: 0 auto;
  width: 80%;
  height: auto;
  overflow-x: hidden;
}
header {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
header section {
  float: none;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  height: 79px;
  background-color: #b70052;
}
header section a {
  float: left;
  margin: 15px 10px;
  display: inline-block;
  text-indent: -9999px;
}
header section #donate {
  width: 150px;
  height: 45px;
  background-image: url(../images/donate.png);
  background-size: 100% 100%;
}
header section #donate:hover {
  background-image: url("../images/donate(mouseOver).png");
}
header section #volunteer {
  width: 150px;
  height: 45px;
  background-image: url(../images/volunteer.png);
  background-size: 100% 100%;
}
header section #volunteer:hover {
  background-image: url("../images/volunteer(mouseOver).png");
}
header section #signupContainer {
  float: right;
  height: 75px;
  width: 427px;
}
header section #signupContainer p {
  position: relative;
  top: -10px;
  display: inline;
  margin: 10px 5px;
}
header section #signupContainer textarea {
  float: none;
  margin-top: 20px;
  height: 30px;
  width: 175px;
  font-size: 24px;
  resize: none;
  border: 2px black solid;
  display: inline-block;
}
header section #signupContainer #signup {
  float: right;
  width: 81px;
  height: 33px;
  margin-top: 18px;
  display: inline-block;
  background-image: url(../images/signUp.png);
}
header section #signupContainer #signup:hover {
  background-image: url("../images/signUp(mouseOver).png");
}
#wrapper {
  padding: 20px 0px;
  width: 100%;
  color: black;
}
#wrapper a {
  color: #b70052;
}
#wrapper a:hover {
  text-decoration: none;
  font-weight: bold;
}
article .post {
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px #dd solid;
}
footer {
  width: 100%;
  height: 150px;
  padding: 5px;
  overflow: hidden;
  border-top: 2px black solid;
}
footer .logo {
  width: 284px;
  border-right: 1px black solid;
}
footer section {
  float: left;
  height: 140px;
  width: 67%;
  padding-left: 10px;
}
footer section #footerLinks {
  font-size: 22px;
}
footer section #footerLinks li ul li {
  display: inline-block;
}
footer section #footerLinks li ul li a {
  display: block;
  margin: 0 10px 10px 0;
}
footer section #footerLinks li ul li a:hover {
  opacity: 0.6;
}
footer section #footerLinks li p {
  float: none;
  font-size: 18px;
  margin-top: 47px;
  color: black;
}
footer section #footerLinks li p a {
  display: block;
}
/* Header */
.logo {
  background: url(../images/wwcc-logo.png) no-repeat;
  display: inline-block;
  height: 122px;
  width: 239px;
  float: left;
}
#headerContainer {
  display: inline-block;
  width: auto;
  margin-left: 20px;
  float: left;
  height: auto;
}
#headerContainer #socialMedia {
  display: block;
  width: 100%;
  margin: -15px 0 -6px 0;
  margin-right: 25px;
}
#headerContainer #socialMedia li {
  display: inline-block;
  padding: 5px;
}
#headerContainer #socialMedia li #twitter,
#headerContainer #socialMedia li #facebook,
#headerContainer #socialMedia li #youtube,
#headerContainer #socialMedia li #linkedin {
  display: block;
  height: 60px;
  width: 60px;
  text-indent: -9999px;
}
#headerContainer #socialMedia li #twitter {
  background-image: url(../images/twitter.png);
}
#headerContainer #socialMedia li #twitter:hover {
  opacity: 0.6;
}
#headerContainer #socialMedia li #facebook {
  background-image: url(../images/facebook.png);
}
#headerContainer #socialMedia li #facebook:hover {
  opacity: 0.6;
}
#headerContainer #socialMedia li #youtube {
  background-image: url(../images/youtube.png);
}
#headerContainer #socialMedia li #youtube:hover {
  opacity: 0.6;
}
#headerContainer #socialMedia li #linkedin {
  background-image: url(../images/linkedin.png);
}
#headerContainer #socialMedia li #linkedin:hover {
  opacity: 0.6;
}
#headerContainer #socialMedia li:first-child {
  display: block;
  height: 20px;
  margin: 5px 0px 5px 0;
}
#headerContainer #socialMedia li:first-child p {
  position: relative;
  top: 0px;
  font-size: 1.2em;
  color: black;
}
#headerContainer #mobileNav {
  display: none;
}
#headerContainer nav #navLinks {
  display: block;
  width: 100%;
  margin-right: 25px;
  z-index: 10;
}
#headerContainer nav #navLinks li {
  display: inline-block;
}
#headerContainer nav #navLinks li a {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  padding: 25px 5px 5px 5px;
}
#headerContainer nav #navLinks li:hover {
  opacity: 0.6;
}
/* Index */
#wrapper #gallery #mainImage {
  width: 100%;
  height: 320px;
  background: url(../images/picture1.jpg) no-repeat;
  background-size: 100% 100%;
}
#wrapper #gallery #mainImage p {
  position: relative;
  top: 261px;
  left: 10px;
  color: #b70052;
  font-weight: bold;
  font-size: 1.3em;
  display: block;
  width: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
#wrapper #gallery #galleryImages {
  width: 100%;
  height: 103px;
  margin: 20px 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
#wrapper #gallery #galleryImages #imageContainer {
  width: 1010px;
}
#wrapper #gallery #galleryImages #imageContainer a {
  display: inline-block;
  width: 170px;
  height: 100px;
  margin-right: 30px;
  text-indent: -99999px;
}
#wrapper #gallery #galleryImages #imageContainer a:last-child {
  margin-right: 0px;
}
#wrapper #gallery #galleryImages #imageContainer .overlay {
  width: 100%;
  height: 100%;
}
#wrapper #gallery #galleryImages #imageContainer .image1 {
  background: url(../images/picture1_thumb_norm.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image1:hover {
  background: url(../images/picture1_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image1 .current {
  background: url(../images/picture1_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image1 .current:hover {
  cursor: default;
}
#wrapper #gallery #galleryImages #imageContainer .image2 {
  background: url(../images/picture2_thumb_norm.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image2:hover {
  background: url(../images/picture2_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image2 .current {
  background: url(../images/picture2_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image2 .current:hover {
  cursor: default;
}
#wrapper #gallery #galleryImages #imageContainer .image3 {
  background: url(../images/picture3_thumb_norm.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image3:hover {
  background: url(../images/picture3_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image3 .current {
  background: url(../images/picture3_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image3 .current:hover {
  cursor: default;
}
#wrapper #gallery #galleryImages #imageContainer .image4 {
  background: url(../images/picture4_thumb_norm.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image4:hover {
  background: url(../images/picture4_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image4 .current {
  background: url(../images/picture4_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image4 .current:hover {
  cursor: default;
}
#wrapper #gallery #galleryImages #imageContainer .image5 {
  background: url(../images/picture5_thumb_norm.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image5:hover {
  background: url(../images/picture5_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image5 .current {
  background: url(../images/picture5_thumb.jpg);
}
#wrapper #gallery #galleryImages #imageContainer .image5 .current:hover {
  cursor: default;
}
#wrapper #info {
  float: left;
  width: 75%;
  height: 100%;
  display: inline-block;
  padding-right: 20px;
}
#wrapper #info h2 {
  margin-bottom: 10px;
}
#wrapper #info h3 {
  margin: 0 0 10px 20px;
}
#wrapper #info p {
  margin-left: 20px;
}
#wrapper #video {
  float: left;
  width: 25%;
  height: auto;
  overflow: hidden;
  display: inline-block;
}
#wrapper #video h2 {
  margin-bottom: 20px;
}
#wrapper #video a {
  display: block;
  width: 100%;
  max-width: 270px;
  height: 166px;
  background: url(../images/video_norm.jpg);
  background-size: 100% 100%;
}
#wrapper #video a:hover {
  background: url(../images/video.jpg);
  background-size: 100% 100%;
}
/* Volunteer */
#wrapper .volunteer #volunteerImage {
  display: block;
  width: 100%;
  height: 318px;
  background: url(../images/volunteerBigImage.jpg) no-repeat;
  background-size: 100% 100%;
}
#wrapper .volunteer h2 {
  margin-top: 60px;
  margin-bottom: 10px;
}
#wrapper .volunteer a {
  margin-top: 10px;
  text-decoration: none;
}
/* careers */
.hidden {
  display: none;
}
#wrapper .careers {
  float: left;
  width: 65%;
}
#wrapper .careers h2 {
  margin-bottom: 20px;
}
#wrapper .careers P {
  margin-bottom: 60px;
}
#wrapper .careers #volunteerPositions {
  width: 100%;
  max-height: 475px;
  background-color: #b70052;
  overflow: hidden;
  cursor: pointer;
}
#wrapper .careers #volunteerPositions #headerBarV {
  position: relative;
  height: 60px;
  border: 2px black solid;
}
#wrapper .careers #volunteerPositions #headerBarV #indicatorV {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/arrow.png);
  background-repeat: no-repeat;
  margin: 15px 10px;
}
#wrapper .careers #volunteerPositions #headerBarV p {
  color: white;
  font-size: 1.5em;
  position: absolute;
  left: 70px;
  top: 10px;
  display: inline-block;
}
#wrapper .careers #volunteerPositions #ledgendV {
  height: 35px;
}
#wrapper .careers #volunteerPositions #ledgendV p {
  color: white;
  font-size: 1em;
  display: inline-block;
  width: 50%;
  padding: 5px 0 5px 14px;
}
#wrapper .careers #volunteerPositions #ledgendV p span {
  padding-left: 90px;
}
#wrapper .careers #volunteerPositions #jobListingsV {
  border: 3px black solid;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#wrapper .careers #volunteerPositions #jobListingsV li {
  color: white;
  font-size: 1.2em;
  display: block;
  height: 50px;
  margin: 0;
  padding: 15px 0;
}
#wrapper .careers #volunteerPositions #jobListingsV li p {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
}
#wrapper .careers #volunteerPositions #jobListingsV li p span {
  padding-left: 80px;
}
#wrapper .careers #volunteerPositions #jobListingsV li button {
  float: right;
  display: inline-block;
  margin: 0 10px;
  width: 25%;
  cursor: pointer;
}
#wrapper .careers #volunteerPositions #jobListingsV li:nth-child(odd) {
  background: #d3d1d1;
  color: #b70052;
  font-size: 1.2em;
}
#wrapper .careers #volunteerPositions #jobListingsV li:nth-child(even) {
  border: 3px gray solid;
}
#wrapper .careers #jobPositions {
  width: 100%;
  max-height: 475px;
  background-color: #b70052;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
}
#wrapper .careers #jobPositions #headerBarJ {
  position: relative;
  height: 60px;
  border: 2px black solid;
}
#wrapper .careers #jobPositions #headerBarJ #indicatorJ {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  margin: 5px 20px;
}
#wrapper .careers #jobPositions #headerBarJ p {
  color: white;
  font-size: 1.5em;
  position: absolute;
  left: 70px;
  top: 10px;
  display: inline-block;
}
#wrapper .careers #jobPositions #ledgendJ {
  height: 35px;
}
#wrapper .careers #jobPositions #ledgendJ p {
  color: white;
  font-size: 1em;
  display: inline-block;
  width: 50%;
  padding: 5px 0 5px 14px;
}
#wrapper .careers #jobPositions #ledgendJ p span {
  padding-left: 90px;
}
#wrapper .careers #jobPositions #jobListingsJ {
  border: 3px black solid;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#wrapper .careers #jobPositions #jobListingsJ li {
  color: white;
  font-size: 1.2em;
  display: block;
  height: 50px;
  margin: 0;
  padding: 15px 0;
}
#wrapper .careers #jobPositions #jobListingsJ li p {
  display: inline-block;
  width: 50%;
  padding-left: 10px;
}
#wrapper .careers #jobPositions #jobListingsJ li p span {
  padding-left: 80px;
}
#wrapper .careers #jobPositions #jobListingsJ li button {
  float: right;
  display: inline-block;
  margin: 0 10px;
  width: 25%;
  cursor: pointer;
}
#wrapper .careers #jobPositions #jobListingsJ li:nth-child(odd) {
  background: #d3d1d1;
  color: #b70052;
  font-size: 1.2em;
}
#wrapper .careers #jobPositions #jobListingsJ li:nth-child(odd) p {
  padding-left: 12px;
}
#wrapper .careers #jobPositions #jobListingsJ li:nth-child(even) {
  border: 3px gray solid;
}
#wrapper .careers #application {
  display: none;
  position: relative;
  max-width: 509px;
  border: 3px black solid;
  padding: 15px;
  margin: 0 auto;
}
#wrapper .careers #application h2 {
  margin-bottom: 20px;
}
#wrapper .careers #application p {
  width: 100%;
  margin: 0 10px 0 0;
  display: inline-block;
}
#wrapper .careers #application p textarea {
  position: absolute;
  left: 150px;
  width: 300px;
  height: 20px;
  margin-bottom: -8px;
  display: inline-block;
  resize: none;
  font-size: 1.3em;
}
#wrapper .careers #application p button {
  margin-left: 290px;
  cursor: pointer;
}
#wrapper .careers #application #r {
  width: 230px;
}
#wrapper .careers #application .appContainer {
  width: 100%;
  height: 50px;
  padding-left: 40px;
}
#wrapper .careers #application button {
  margin-left: 340px;
  cursor: pointer;
}
#wrapper #sideImage {
  float: left;
  width: 35%;
  display: inline-block;
  height: 499px;
  background: #000000 url(../images/womenInSuit.jpg);
}
/* Media Queries */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .container {
    width: 100%;
  }
  nav #navLinks {
    display: block;
    width: 484px;
  }
  footer section {
    height: 140px;
    width: 450px;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .logo {
    float: none;
    display: block;
    margin: 0 auto;
  }
  #headerContainer #socialMedia {
    display: none;
  }
  #headerContainer #mobileNav {
    position: absolute;
    top: 254px;
    left: 0px;
    display: block;
    width: 100%;
    height: 46px;
    z-index: 10;
  }
  #headerContainer #mobileNav img {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  #headerContainer #mobileNav p {
    position: absolute;
    top: 10px;
    left: 40px;
  }
  #headerContainer nav {
    position: absolute;
    top: 40px;
    left: 0px;
    display: none;
    height: auto;
    width: 100%;
    overflow: visible;
  }
  #headerContainer nav #navLinks {
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    top: 260px;
    display: block;
    width: 100%;
    margin-right: 25px;
    padding-bottom: 20px;
  }
  #headerContainer nav #navLinks li {
    display: block;
  }
  #headerContainer nav #navLinks li a {
    padding-left: 20px;
    color: #b70052;
  }
  header section {
    position: relative;
    top: 120px;
    height: 50px;
    margin-bottom: 110px;
    overflow: visible;
  }
  header section #donate {
    position: absolute;
    top: -135px;
    left: 5px;
    width: 140px;
  }
  header section #volunteer {
    position: absolute;
    top: -135px;
    right: 5px;
    width: 140px;
  }
  header section #signupContainer {
    position: absolute;
    top: -65px;
    left: 0px;
    width: 100%;
    border-top: 1px black solid;
  }
  header section #signupContainer p {
    display: none;
  }
  header section #signupContainer textarea {
    position: absolute;
    top: -5px;
    left: 15px;
    float: left;
  }
  header section #signupContainer #signup {
    position: absolute;
    top: -5px;
    right: 10px;
  }
  /** index.php **/
  #wrapper #gallery #mainImage {
    height: 105px;
  }
  #wrapper #gallery #mainImage p {
    left: 0px;
    top: 71px;
    padding: 2.5px;
  }
  #wrapper #info {
    float: none;
    width: 100%;
    display: block;
    padding: 0 20px;
  }
  #wrapper #video {
    float: none;
    width: 270px;
    display: block;
    margin: 0 auto;
  }
  #wrapper .volunteer #volunteerImage {
    height: 105px;
  }
  #wrapper .volunteer h2 {
    padding: 0 20px;
  }
  #wrapper .volunteer p {
    padding: 0 20px;
  }
  #wrapper .volunteer a {
    padding: 0 20px;
  }
  #wrapper .careers {
    width: 100%;
    display: block;
  }
  #wrapper .careers #application {
    width: 100%;
    margin-bottom: 20px;
  }
  #wrapper .careers #application h2 {
    margin: 10px 0;
  }
  #wrapper .careers #application p {
    position: relative;
    width: 100%;
    margin: 0 10px 0 0;
    display: inline-block;
  }
  #wrapper .careers #application p textarea {
    position: absolute;
    left: 100px;
    width: 185px;
    margin-bottom: -8px;
    display: inline-block;
  }
  #wrapper .careers #application p button {
    position: absolute;
    right: 0px;
    bottom: -5px;
  }
  #wrapper .careers #application .appContainer {
    width: 100%;
    padding: 0;
  }
  #wrapper .careers #application #r {
    width: 110px;
  }
  #wrapper .careers #application button {
    margin-left: 230px;
  }
  #wrapper aside {
    width: 100%;
    display: none;
  }
  footer {
    border-top: none;
  }
  footer .logo {
    border-right: none;
    margin: 0 auto;
  }
  footer section {
    float: none;
    width: 100%;
  }
  footer section #footerLinks {
    width: 100%;
  }
  footer section #footerLinks .links {
    display: none;
  }
  footer section #footerLinks li p {
    text-align: center;
    margin-top: 0;
    font-size: .5em;
  }
}
