@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

// Typography
@headingsfontFamily: "Montserrat", "Times New Roman",Georgia,Serif;
@bodyfontFamily: "Times New Roman",Georgia,Serif;

// Brand fonts

@basefont: @bodyfontFamily;
@basefontsize: 15px;
@basefontheight: 21px;
@basefontcolour: #fff;
@basefontweight: 300;

// Brand Colours
@gray: #9B9B9B;
@black: #000000;